<!DOCTYPE html>
<html>
<head>
	<title>Remind</title>
	<style>
		.header {
			background-color: #468499;
			padding: 20px;
			text-align: center;
		}
		
		.title {
			color: #fff;
			font-size: 24px;
			margin: 0;
		}
	 gg	
		.highlight {
			padding: 10px;
      margin-top: 10px;
			margin-bottom: 10px; 	
    }
	</style>
</head>
<body>
	<div class="header">
		<h1 class="title">Remind</h1>
	</div>
		{{ range . }}
		<div class="highlight">
			<hr />
			<dl>
				<dt><strong>{{.Title}}</strong></dt>
				<dt>by {{.Author}}</dt>
				<dt>From Page {{.Page}}</dt>
				<dt>Added on {{.When}}</dt>
        <br>
				<dt>{{.Highlight}}</dt>
			</dl>
		</div>
		{{ end }}
</body>
</html>

